<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd" version="3.1">
  <display-name>BlogApplication</display-name>
  <welcome-file-list>
    <welcome-file>login.jsp</welcome-file>
  </welcome-file-list>
  <servlet>
    <servlet-name>FindUsers</servlet-name>
    <servlet-class>CrimeFreeBooking.servlet.FindUsers</servlet-class>
    <jsp-file>/FindUser.jsp</jsp-file>
  </servlet>
  <servlet-mapping>
    <servlet-name>FindUsers</servlet-name>
    <url-pattern>/find-user</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>CreateUser</servlet-name>
    <servlet-class>CrimeFreeBooking.servlet.CreateUser</servlet-class>
    <jsp-file>/CreateUser.jsp</jsp-file>
  </servlet>
  <servlet-mapping>
    <servlet-name>CreateUser</servlet-name>
    <url-pattern>/create-user</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>CreatePreference</servlet-name>
    <servlet-class>CrimeFreeBooking.servlet.CreatePreference</servlet-class>
    <jsp-file>/CreatePreference.jsp</jsp-file>
  </servlet>
  <servlet-mapping>
    <servlet-name>CreatePreference</servlet-name>
    <url-pattern>/create-preference</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>DeletePreference</servlet-name>
    <servlet-class>CrimeFreeBooking.servlet.DeletePreference</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>FindListingByPrice</servlet-name>
    <servlet-class>CrimeFreeBooking.servlet.FindListingByPrice</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>FindListingsByBB</servlet-name>
    <servlet-class>CrimeFreeBooking.servlet.FindListingsByBB</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>CreateWishList</servlet-name>
    <servlet-class>CrimeFreeBooking.servlet.CreateWishList</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>CreateRecommendation</servlet-name>
    <servlet-class>CrimeFreeBooking.servlet.CreateRecommendation</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>DeleteRecommendation</servlet-name>
    <servlet-class>CrimeFreeBooking.servlet.DeleteRecommendation</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>DeleteWishlist</servlet-name>
    <servlet-class>CrimeFreeBooking.servlet.DeleteWishlist</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>FindReviewsByUser</servlet-name>
    <servlet-class>CrimeFreeBooking.servlet.FindReviewsByUser</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>DeleteReview</servlet-name>
    <servlet-class>CrimeFreeBooking.servlet.DeleteReview</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>CreateReview</servlet-name>
    <servlet-class>CrimeFreeBooking.servlet.CreateReview</servlet-class>
    <jsp-file>/CreateReview.jsp</jsp-file>
  </servlet>
    <servlet-mapping>
    <servlet-name>CreateReview</servlet-name>
    <url-pattern>/create-review</url-pattern>
  </servlet-mapping>
</web-app>